# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,1
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,1
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,1
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,1

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking'].values.reshape(-1, 1)

# Display a sample of y
y

array([[0],
       [0],
       [0],
       ...,
       [1],
       [0],
       [1]])

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns=['credit_ranking'])

# Review the features DataFrame
X

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_train_fit = scaler.fit(X_train)
X_train_scaled =scaler.transform(X_train)

# Fit the scaler to the features training dataset
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
input_nodes = len(X.columns)

# Review the number of features
print(input_nodes)

11

In [10]:
# Define the number of hidden nodes for the first hidden layer
hiddenUnits1 = 11


# Define the number of hidden nodes for the second hidden layer
hiddenUnits2 = 7


# Define the number of neurons in the output layer
outputUnits = 1

In [11]:
# Create the Sequential model instance
from keras.models import Sequential
nn_model = Sequential()

# Add the first hidden layer
nn_model.add(tf.keras.layers.Dense(units=hiddenUnits1, activation="relu", input_dim=input_nodes))

# Add the second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hiddenUnits2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(tf.keras.layers.Dense(units=outputUnits, activation="sigmoid"))

/Users/jenniferleone/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [12]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 11)             │           132 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 7)              │            84 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │             8 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 224 (896.00 B)

 Trainable params: 224 (896.00 B)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [13]:
# Compile the Sequential model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - accuracy: 0.4794 - loss: 0.9867
Epoch 2/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.5530 - loss: 0.7647
Epoch 3/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.5977 - loss: 0.6631
Epoch 4/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 298us/step - accuracy: 0.6449 - loss: 0.6128
Epoch 5/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.6881 - loss: 0.6070
Epoch 6/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7158 - loss: 0.5675
Epoch 7/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7151 - loss: 0.5681
Epoch 8/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.7190 - loss: 0.5663
Epoch 9/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.7268 - loss: 0.5377
Epoch 10/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7201 - loss: 0.5380
Epoch 11/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7540 - loss: 0.5147
Epoch 12/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.7428 - loss: 0.5197
Epoch 13/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7470 - loss: 0.5159
Epoch 14/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7283 - loss: 0.5308
Epoch 15/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - accuracy: 0.7412 - loss: 0.5103
Epoch 16/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.7692 - loss: 0.4963
Epoch 17/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7549 - loss: 0.5027
Epoch 18/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7644 - loss: 0.4861
Epoch 19/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.7519 - loss: 0.4947
Epoch 20/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.7684 - loss: 0.4968
Epoch 21/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.7596 - loss: 0.4953
Epoch 22/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7661 - loss: 0.4731
Epoch 23/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7954 - loss: 0.4691
Epoch 24/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7626 - loss: 0.4935
Epoch 25/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7546 - loss: 0.4902
Epoch 26/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7668 - loss: 0.4784
Epoch 27/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 970us/step - accuracy: 0.7608 - loss: 0.4802
Epoch 28/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 385us/step - accuracy: 0.7767 - loss: 0.4765
Epoch 29/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 383us/step - accuracy: 0.7426 - loss: 0.5064
Epoch 30/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 382us/step - accuracy: 0.7607 - loss: 0.4844
Epoch 31/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 387us/step - accuracy: 0.7513 - loss: 0.5031
Epoch 32/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 422us/step - accuracy: 0.7714 - loss: 0.4903
Epoch 33/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 370us/step - accuracy: 0.7801 - loss: 0.4626
Epoch 34/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 402us/step - accuracy: 0.7991 - loss: 0.4640
Epoch 35/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - accuracy: 0.7761 - loss: 0.4659
Epoch 36/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 384us/step - accuracy: 0.7639 - loss: 0.4998
Epoch 37/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 376us/step - accuracy: 0.7880 - loss: 0.4730
Epoch 38/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 377us/step - accuracy: 0.7733 - loss: 0.4680
Epoch 39/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 797us/step - accuracy: 0.7841 - loss: 0.4713
Epoch 40/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - accuracy: 0.7610 - loss: 0.4902
Epoch 41/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 381us/step - accuracy: 0.7838 - loss: 0.4515
Epoch 42/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - accuracy: 0.7880 - loss: 0.4555
Epoch 43/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.7671 - loss: 0.4840
Epoch 44/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 395us/step - accuracy: 0.8048 - loss: 0.4487
Epoch 45/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - accuracy: 0.7854 - loss: 0.4530
Epoch 46/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.7769 - loss: 0.4663
Epoch 47/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 342us/step - accuracy: 0.7622 - loss: 0.4780
Epoch 48/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7629 - loss: 0.4636
Epoch 49/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 332us/step - accuracy: 0.7848 - loss: 0.4674
Epoch 50/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7772 - loss: 0.4526

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [15]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - 4ms/step - accuracy: 0.7475 - loss: 0.5234
Loss: 0.5234060287475586, Accuracy: 0.7475000023841858

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [16]:
# Set the model's file path
file_path = Path("student_loans.keras")


# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [17]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [18]:
# Make predictions with the test data
predictions = nn_model.predict(X_test_scaled,verbose=2)


# Display a sample of the predictions
predictions[:5]

13/13 - 0s - 4ms/step

array([[0.30007064],
       [0.4365017 ],
       [0.9281039 ],
       [0.7219672 ],
       [0.98251736]], dtype=float32)

In [19]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(columns=["predictions"], data=predictions)
predictions_df["predictions"] = round(predictions_df["predictions"],0)
predictions_df

     predictions
0            0.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [20]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df["predictions"].values))

              precision    recall  f1-score   support

           0       0.72      0.77      0.74       188
           1       0.78      0.73      0.75       212

    accuracy                           0.75       400
   macro avg       0.75      0.75      0.75       400
weighted avg       0.75      0.75      0.75       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**